<!DOCTYPE html>
{% load staticfiles %}

<!--we use this to use our template tag-->
{% load rango_template_tags %}

<html>
    
    <!-- we use the block tag to denote the parts of the template
        which can be overridden by the templates that inherit from it-->
    <head>
        <!--title block allows us to specify a custom title page for each page 
        inheriting from our base template. If one of them doesn't override it, it defaults
        to How to Tango with Django! so the complete title will be Rango - How to Tango 
        with Django!-->
        <title>
            Rango - 
            {% block title_block %}
                How to Tango with Django!
            {% endblock %}
        </title>
    </head>
    <body>
        <div>   
            {% block body_block %}
            {% endblock %}
        </div>

        <!--create a new block to represent the sidebar and call the template tag.
        All pages inheriting from base.html will include a list of categories.-->
        <div>
            {% block sidebar_block %}
                {% get_category_list category %}
            {% endblock %}
        </div>

        <!-- hr is a thematic break in an HTML page often displayed as a horizontal rule-->
        <hr />
        <div>
            <ul>
                <!--links from our current index.html template and a linke to the index page-->
                <!-- ensures links are present across all pages inheriting from the base template-->
                {% if user.is_authenticated %}
                    <!--show these links when the user is logged in -->
                    <li><a href="{% url 'rango:restricted' %}">Restricted Page</a></li>
                    <li><a href="{% url 'rango:logout' %}">Logout</a></li>
                    <li><a href="{% url 'rango:add_category' %}">Add a New Category</a></li>
                {% else %}
                    <!--show these links when the user is NOT logged in -->
                    <li><a href="{% url 'rango:register' %}">Sign Up</a></li>
                    <li><a href="{% url 'rango:login' %}">Login</a></li>
                {% endif %}
                    <!--outside the conditional statements, ALWAYS show-->
                    <li><a href="{% url 'rango:about' %}">About</a></li>
                    <li><a href="{% url 'rango:index' %}">Index</a></li>
            </ul>
        </div>

    </body>
</html>