<!DOCTYPE html>

<html>

    <head>
        <title>Rango</title>
    </head>

    <body>
        <div>
            <!--if the category exists we check to see if there's any pages in it-->
        {% if category %}
            <h1>{{ category.name }}</h1>
            {% if pages %}
            <ul>
                <!-- for all pages in the pages list, output the title and url attributes in a hyperlink-->
                {% for page in pages %}
                <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>No pages currently in category.</strong>
            {% endif %}
        {% else %}
            The specified category does not exist.
        {% endif %}
        </div>
    </body>

</html>